.contenido {
	background: #ff0;
}
.supertopo {
    background: #ff0; color: #fff; margin-top:0px; margin-bottom:0px;
}
ul.dropdown-cart{
    min-width:250px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;   
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}
.label,.glyphicon { 
	margin-right:5px; 
}
.requerido {
   /* color:#8C0205;*/
    color:#fff;
    margin-left: 10px;
    display:none;   
    text-align:left;
    background: #f00;
    padding:5px;
    margin-top: 5px;
    font-weight: bold;
}
.paso_in {
    font-size:24px;
     line-height: 40px;
     color: #5cb85c;
     margin-bottom: 10px;
}
.paso_in .numb {
     width: 40px;
     height: 40px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #5cb85c;
     color:#FFFFFF;
     text-align:center;
     font-size:24px;
     line-height: 40px;
     float:left;
     margin-right: 20px;
}
.paso_in .numb1 {
     width: 40px;
     height: 40px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #5cb85c;
     color:#FFFFFF;
     text-align:center;
     font-size:24px;
     line-height: 40px;
     float:left;
}
.paso_in .numb2 {
     width: 40px;
     height: 40px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #ddd;
     color:#555;
     text-align:center;
     font-size:24px;
     line-height: 40px;
     float:left;
     margin-right: 20px;
}
.nombre_emp {
    color:#575757;
}
#paso_emp {
    color:#fff;
    display:block;
    background: #AAA;
    width: 300px;
    padding: 5px;
    text-align:center;
    margin-top: 10px;
    margin-left: 60px;
}
.yasta {
    border: solid 1 #f00;
    padding: 10px;
    font-size: 18px;
    color: #f00;
    display: none;
}
.listado_rubros {
    position: absolute;
    z-index: 20;
    border-bottom: solid 1px #A9A9A9;
    border-left: solid 1px #A9A9A9;
    border-right: solid 1px #A9A9A9;
    display: none;
    width: 100%;
}
.cada_elemento {
    display: block;
    background: #fff;
    
}
.cada_elemento a{
    padding:5px;
    display: block;
    color:#555;
    text-decoration: none;
    background: #fff;
}
.cada_elemento a:hover{
    color:#fff;
    background: #337AB7;
}